<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reckitt Benckiser Offline</title>
</head>
<body>
    <h2>Upload a file</h2>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <div class="inputContainer">
            <input type="file" name="file">
        </div>
        <div class="submitContainer">
            <input type="submit" value="Upload">
        </div>
      </form>
    <style>
        form {
            gap: 10px;
            display: flex;
            flex-direction: column;
            width: 20%;
            padding: 10px;
            border: 1px solid black;
        }
        form > div {
            width: 100%;
            display: flex;
            flex-direction: column; 
            align-items: flex-start; 
            justify-content: flex-start;
        }
    </style>
</body>
</html>

